audio-player .wrapper{
    display: flex;
    align-items: baseline;
    width: 100%;
    
}

.group {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px;
    margin-left: 5px;
}

div {
    margin: 5px;
    letter-spacing: 1px;
}

button {
    color: red;
}

